* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 150vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

input, textarea {
  outline: none;
  border: none;
}

.container-custom {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}